<app-header></app-header>

<ion-content>
  <ion-grid *ngIf="project">
    <ion-row>
      <ion-col size="12">
        <h4 class="mt-0 mb-0 project_title">{{project.title.rendered}}</h4>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-card *ngIf="isShowSelectSubProjectAndAction" class="project-action">
    <ion-card-header>
      <ion-card-title class="card-title">Tiểu dự án, hoạt động</ion-card-title>
      <hr>
    </ion-card-header>

    <ion-card-content>
      <ion-row>
        <ion-col size="12" class="ion-text-center" *ngIf="isLoadingSubProject">
          <ion-spinner class="ion-text-center"></ion-spinner>
        </ion-col>

        <ion-col size="12" class="p-0 mb-3" *ngIf="subProjectList.length > 0">
          <ion-label position="stacked">Chọn tiểu dự án cần xem</ion-label>
          <ion-select placeholder="+ Chọn tiểu dự án" [(ngModel)]="subProjectId" (ionChange)="onSelectSubProject()"
                      interface="action-sheet" cancelText="Đóng" class="mt-2">
            <ion-select-option *ngFor="let option of subProjectList" [value]="option.id">
              <span [innerHTML]="option.title.rendered"></span>
            </ion-select-option>
          </ion-select>
        </ion-col>

        <ion-col size="12" class="ion-text-center" *ngIf="isLoadingProjectAction">
          <ion-spinner></ion-spinner>
        </ion-col>

        <ion-col size="12" class="p-0 mb-3" *ngIf="actionList.length > 0">
          <ion-label position="stacked">Chọn hoạt động cần xem</ion-label>
          <ionic-selectable placeholder="+ Chọn hoạt động" class="mt-2"
                            [(items)]="actionList" itemTextField="post_title"
                            closeButtonText="Đóng" searchPlaceholder="Tiêu đề hoạt động" closeButtonSlot="end"
                            [canSearch]="true" (onChange)="onSelectProjectAction($event.value)">
          </ionic-selectable>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-card class="project-content">
    <ion-card-header>
      <ion-card-title class="card-title">Tổng quan</ion-card-title>
      <hr>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col size="12" class="ion-text-center" *ngIf="isLoadingSubProject">
          <ion-spinner class="ion-text-center"></ion-spinner>
        </ion-col>

        <ion-col size="12" class="ion-text-center" *ngIf="isLoadingHelpdeskContent">
          <ion-spinner class="ion-text-center"></ion-spinner>
        </ion-col>
      </ion-row>

      <ng-container
        *ngIf="(project || subProject || projectAction) && !isLoadingSubProject && !isLoadingHelpdeskContent">
        <ion-row>
          <ion-col size="12">
            <ion-label class="list-icon">Mục tiêu</ion-label>
          </ion-col>
          <ion-col size="12" [innerHTML]="project.acf.project_target"
                   *ngIf="project && !subProject && !projectAction"></ion-col>
          <ion-col size="12" [innerHTML]="subProject.acf.project_target"
                   *ngIf="subProject && !projectAction"></ion-col>
          <ion-col size="12" [innerHTML]="projectAction.acf.action_target" *ngIf="projectAction"></ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <ion-label class="list-icon">Đối tượng</ion-label>
          </ion-col>
          <ion-col size="12" [innerHTML]="project.acf.project_subject"
                   *ngIf="project && !subProject && !projectAction"></ion-col>
          <ion-col size="12" [innerHTML]="subProject.acf.project_subject"
                   *ngIf="subProject && !projectAction"></ion-col>
          <ion-col size="12" [innerHTML]="projectAction.acf.action_subject" *ngIf="projectAction"></ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <ion-label class="list-icon">Nội dung</ion-label>
          </ion-col>
          <ion-col size="12" [innerHTML]="project.content.rendered"
                   *ngIf="project && !subProject && !projectAction"></ion-col>
          <ion-col size="12" [innerHTML]="subProject.content.rendered" *ngIf="subProject && !projectAction"></ion-col>
          <ion-col size="12" [innerHTML]="projectAction.content.rendered" *ngIf="projectAction"></ion-col>
        </ion-row>

        <ion-row *ngIf="(project || subProject) && !projectAction">
          <ion-col size="12">
            <ion-label class="list-icon">Phân công thực hiện</ion-label>
          </ion-col>
          <ion-col size="12" [innerHTML]="project.acf.project_assign" *ngIf="project && !subProject"></ion-col>
          <ion-col size="12" [innerHTML]="project.acf.project_assign" *ngIf="subProject"></ion-col>
        </ion-row>

        <ion-row class="funds" *ngIf="(project || subProject) && !projectAction">
          <ion-col size="12">
            <ion-label class="list-icon">Nhu cầu và nguồn vốn</ion-label>
            <ng-container *ngIf="project && !subProject">
              <img *ngIf="project.acf.project_source_of_capital" [src]="project.acf.project_source_of_capital"/>
            </ng-container>
            <ng-container *ngIf="subProject">
              <img *ngIf="subProject.acf.project_source_of_capital" [src]="subProject.acf.project_source_of_capital"/>
            </ng-container>
          </ion-col>
        </ion-row>

        <ion-row class="funds" *ngIf="projectAction">
          <ion-col size="12">
            <ion-label class="list-icon">Nhu cầu và nguồn vốn</ion-label>
            <img *ngIf="projectAction.acf.action_source_of_capital"
                 [src]="projectAction.acf.action_source_of_capital"/>
          </ion-col>
        </ion-row>
      </ng-container>
    </ion-card-content>
  </ion-card>

  <ion-card class="project-helpdesk">
    <ion-card-header>
      <ion-card-title class="card-title">Hướng dẫn thực hiện</ion-card-title>
      <hr>
    </ion-card-header>

    <ion-card-content>
      <ion-row>
        <ion-col size="12" class="ion-text-center" *ngIf="isLoadingHelpdeskContent">
          <ion-spinner class="ion-text-center"></ion-spinner>
        </ion-col>
      </ion-row>

      <ng-container *ngIf="helpdeskGroupByCategory.length > 0 && !isLoadingHelpdeskContent">
        <ion-row *ngFor="let helpdeskGroup of helpdeskGroupByCategory">
          <ion-col size="12">
            <ion-label class="list-icon">{{helpdeskGroup.category.name}}</ion-label>
            <ul class="helpdesk-list mt-1">
              <li *ngFor="let helpdesk of helpdeskGroup.helpdesk" (click)="onClickHelpdesk(helpdesk)">
                {{helpdesk.post_title}}
              </li>
            </ul>
          </ion-col>
        </ion-row>
      </ng-container>
    </ion-card-content>
  </ion-card>

  <ion-card class="project-directory">
    <ion-card-header>
      <ion-card-title class="card-title">Tìm liên hệ</ion-card-title>
      <hr>
    </ion-card-header>
    <ion-card-content>
      <ion-row>
        <ion-col size="12">
          <ion-label>Quý vị cần thông tin liên hệ ở khu vực nào?</ion-label>
        </ion-col>

        <ion-col size="12" class="mt-2">
          <ionic-selectable item-content placeholder="+ Chọn tỉnh thành"
                            [(items)]="provinces" itemTextField="post_title"
                            [canSearch]="true" (onChange)="onSelectProvince($event.value)">
          </ionic-selectable>
        </ion-col>

        <ion-col size="12" class="mt-2 ion-text-center" *ngIf="isLoadingDistrict">
          <ion-spinner class="ion-text-center"></ion-spinner>
        </ion-col>

        <ion-col size="12" class="mt-2" *ngIf="districts.length > 0">
          <ionic-selectable item-content placeholder="+ Chọn quận huyện"
                            [(items)]="districts" itemTextField="post_title"
                            [canSearch]="true" (onChange)="onSelectDistrict($event.value)">
          </ionic-selectable>
        </ion-col>

        <ion-col size="12" class="mt-2 ion-text-center" *ngIf="isLoadingWard">
          <ion-spinner class="ion-text-center"></ion-spinner>
        </ion-col>

        <ion-col size="12" class="mt-2" *ngIf="wards.length > 0">
          <ionic-selectable item-content placeholder="+ Chọn xã phường"
                            [(items)]="wards" itemTextField="post_title"
                            [canSearch]="true" (onChange)="onSelectWard($event.value)">
          </ionic-selectable>
        </ion-col>

      </ion-row>

      <ion-row class="enterprise-list mt-3 pt-2">

        <ion-col size="12" class="ion-text-center" *ngIf="isLoadingEnterprise">
          <ion-spinner class="ion-text-center"></ion-spinner>
        </ion-col>

        <ng-container *ngFor="let positionGroup of enterpriseGroupByPosition">
          <ion-col size="12" class="position-group-title" *ngIf="positionGroup.enterprises.length > 0">
            {{positionGroup.position.title.rendered}}
          </ion-col>

          <ion-col size="12">
            <ul class="enterprise-list-item mt-1">
              <li *ngFor="let enterprise of positionGroup.enterprises">
                <p class="enterprise-title">{{enterprise.post_title}}</p>
                <p>
                  <label>Địa chỉ: </label>
                  {{enterprise.acf.address}}
                </p>
                <p>
                  <label>Điện thoại: </label>
                  {{enterprise.acf.enterprise_phone}}
                </p>
                <p>
                  <label>Đường dây nóng: </label>
                  {{enterprise.acf.enterprise_hotline}}
                </p>
                <p>
                  <label>Email: </label>
                  {{enterprise.acf.enterprise_email}}
                </p>
                <p>
                  <label>Website: </label>
                  {{enterprise.acf.enterprise_website}}
                </p>
              </li>
            </ul>
          </ion-col>
        </ng-container>
      </ion-row>
    </ion-card-content>
  </ion-card>

  <ion-grid class="suggestion m-0">
    <ion-row>
      <ion-col size="12">
        <a routerLink="/suggestion"><img src="assets/image/box-gop-y.png"/></a>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
<app-footer></app-footer>
