ion-content {
  ion-card {
    --ion-card-color: #514c4c;
    ion-card-header {
      ion-card-title {
        color: #8C0A00;
        text-transform: uppercase;
        font-size: 1.4em;
        font-weight: 500;
      }

      hr {
        background: #8C0A00;
        margin-top: 2px;
        height: 2px;
      }
    }

    ion-card-content {
      ion-label {
        font-weight: 500;
        font-size: 0.8em;
        color: #0c0c0c;
      }

      ion-label.list-icon {
        &:before {
          content: url('../../../assets/icon/icon-list-decoration.png');
          padding-right: 5px;
        }
      }

      ion-row {
        ion-col {
          padding: 0;
        }
      }

      .helpdesk-list li {
        color: #ec8934;
      }

      .enterprise-list {
        border-top: 1px solid #dedede;

        .position-group-title {
          font-weight: 500;
          font-size: 1.1em;
          color: #0c0c0c;

          &:before {
            content: url('../../../assets/icon/icon-list-decoration.png');
            padding-right: 5px;
          }
        }

        .enterprise-list-item {
          color: #28ba62;

          .enterprise-title {
            font-size: 1.05em;
            color: #1d1700;
            text-transform: uppercase;
            font-weight: 500;
          }

          label {
            font-weight: 500;
          }

          p {
            color: #1d1700;
          }
        }
      }
    }

    &.project-helpdesk {
      background: #f4f2c8;
      --background: #f4f2c8;
    }

    &.project-content {

    }
  }

  .suggestion {
    img {
      border: 1px solid #dedede;
      border-radius: 3px;
      width: 100%;
      height: auto;
    }
  }
  .project_title {
    margin: 0 5px;
  }
}
