<app-header></app-header>

<ion-content>
  <h2 *ngIf="project">{{project.title.rendered}}</h2>

  <ion-grid class="project-search" *ngIf="isShowSelectSubProjectAndAction">
    <ion-row>
      <ion-col size="12">
        <h3>Tiểu dự án, hoạt động</h3>
      </ion-col>

      <ion-col size="12" class="ion-text-center" *ngIf="isLoadingSubProject">
        <ion-spinner class="ion-text-center"></ion-spinner>
      </ion-col>

      <ion-col size="12" *ngIf="subProjectList.length > 0">
        <ion-label position="stacked">Chọn tiểu dự án cần xem</ion-label>
        <ion-select placeholder="+ Chọn tiểu dự án" [(ngModel)]="subProjectId" (ionChange)="onSelectSubProject()"
                    interface="popover">
          <ion-select-option *ngFor="let option of subProjectList" [value]="option.id">
            <span [innerHTML]="option.title.rendered"></span>
          </ion-select-option>
        </ion-select>
      </ion-col>

      <ion-col size="12" class="ion-text-center" *ngIf="isLoadingProjectAction">
        <ion-spinner></ion-spinner>
      </ion-col>

      <ion-col size="12" *ngIf="actionList.length > 0">
        <ion-label position="stacked">Chọn hoạt động cần xem</ion-label>
        <ionic-selectable item-content placeholder="+ Chọn hoạt động"
                          [(items)]="actionList" itemTextField="post_title"
                          [canSearch]="true" (onChange)="onSelectProjectAction($event.value)">
        </ionic-selectable>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="project-detail">
    <ion-row>
      <ion-col size="12">
        <h3>Tổng quan</h3>
      </ion-col>

      <ion-col size="12" class="ion-text-center" *ngIf="isLoadingSubProject">
        <ion-spinner class="ion-text-center"></ion-spinner>
      </ion-col>

      <ion-col size="12" class="ion-text-center" *ngIf="isLoadingHelpdeskContent">
        <ion-spinner class="ion-text-center"></ion-spinner>
      </ion-col>
    </ion-row>

    <ng-container *ngIf="(project || subProject || projectAction) && !isLoadingSubProject && !isLoadingHelpdeskContent">
      <ion-row>
        <ion-col size="12">
          <ion-label>Mục tiêu</ion-label>
        </ion-col>
        <ion-col size="12" [innerHTML]="project.acf.project_target"
                 *ngIf="project && !subProject && !projectAction"></ion-col>
        <ion-col size="12" [innerHTML]="subProject.acf.project_target" *ngIf="subProject && !projectAction"></ion-col>
        <ion-col size="12" [innerHTML]="projectAction.acf.action_target" *ngIf="projectAction"></ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-label>Đối tượng</ion-label>
        </ion-col>
        <ion-col size="12" [innerHTML]="project.acf.project_subject"
                 *ngIf="project && !subProject && !projectAction"></ion-col>
        <ion-col size="12" [innerHTML]="subProject.acf.project_subject" *ngIf="subProject && !projectAction"></ion-col>
        <ion-col size="12" [innerHTML]="projectAction.acf.action_subject" *ngIf="projectAction"></ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-label>Nội dung</ion-label>
        </ion-col>
        <ion-col size="12" [innerHTML]="project.content.rendered"
                 *ngIf="project && !subProject && !projectAction"></ion-col>
        <ion-col size="12" [innerHTML]="subProject.content.rendered" *ngIf="subProject && !projectAction"></ion-col>
        <ion-col size="12" [innerHTML]="projectAction.content.rendered" *ngIf="projectAction"></ion-col>
      </ion-row>

      <ion-row *ngIf="(project || subProject) && !projectAction">
        <ion-col size="12">
          <ion-label>Phân công thực hiện</ion-label>
        </ion-col>
        <ion-col size="12" [innerHTML]="project.acf.project_assign" *ngIf="project && !subProject"></ion-col>
        <ion-col size="12" [innerHTML]="project.acf.project_assign" *ngIf="subProject"></ion-col>
      </ion-row>

      <ion-row class="funds" *ngIf="(project || subProject) && !projectAction">
        <ion-col size="12">
          <ion-label>Nhu cầu và nguồn vốn</ion-label>
          <ng-container *ngIf="project && !subProject">
            <img *ngIf="project.acf.project_source_of_capital" [src]="project.acf.project_source_of_capital"/>
          </ng-container>
          <ng-container *ngIf="subProject">
            <img *ngIf="subProject.acf.project_source_of_capital" [src]="subProject.acf.project_source_of_capital"/>
          </ng-container>
        </ion-col>
      </ion-row>

      <ion-row class="funds" *ngIf="projectAction">
        <ion-col size="12">
          <ion-label>Nhu cầu và nguồn vốn</ion-label>
          <img *ngIf="projectAction.acf.action_source_of_capital" [src]="projectAction.acf.action_source_of_capital"/>
        </ion-col>
      </ion-row>
    </ng-container>

  </ion-grid>

  <ion-grid class="project-helpdesk">
    <ion-row>
      <ion-col size="12">
        <h3>Hướng dẫn thực hiện</h3>
      </ion-col>

      <ion-col size="12" class="ion-text-center" *ngIf="isLoadingHelpdeskContent">
        <ion-spinner class="ion-text-center"></ion-spinner>
      </ion-col>
    </ion-row>

    <ng-container *ngIf="helpdeskGroupByCategory.length > 0 && !isLoadingHelpdeskContent">
      <ion-row *ngFor="let helpdeskGroup of helpdeskGroupByCategory">
        <ion-col size="12">
          <ion-label>{{helpdeskGroup.category.name}}</ion-label>
          <ul class="helpdesk-list">
            <li *ngFor="let helpdesk of helpdeskGroup.helpdesk" (click)="onClickHelpdesk(helpdesk)">
              {{helpdesk.post_title}}
            </li>
          </ul>
        </ion-col>
      </ion-row>
    </ng-container>
  </ion-grid>

  <ion-grid class="project-directory">
    <ion-row>
      <ion-col size="12">
        <h3>Tìm liên hệ</h3>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="12">
        <span>Quý vị cần thông tin liên hệ ở khu vực nào?</span>
      </ion-col>

      <ion-col size="12" class="search-directory">
        <ionic-selectable item-content placeholder="+ Chọn tỉnh thành"
                          [(items)]="provinces" itemTextField="post_title"
                          [canSearch]="true" (onChange)="onSelectProvince($event.value)">
        </ionic-selectable>
      </ion-col>

      <ion-col size="12" class="search-directory" *ngIf="districts.length > 0">
        <ionic-selectable item-content placeholder="+ Chọn quận huyện"
                          [(items)]="districts" itemTextField="post_title"
                          [canSearch]="true" (onChange)="onSelectDistrict($event.value)">
        </ionic-selectable>
      </ion-col>

      <ion-col size="12" class="search-directory ion-text-center" *ngIf="isLoadingDistrict">
        <ion-spinner class="ion-text-center"></ion-spinner>
      </ion-col>

      <ion-col size="12" class="search-directory" *ngIf="wards.length > 0">
        <ionic-selectable item-content placeholder="+ Chọn xã phường"
                          [(items)]="wards" itemTextField="post_title"
                          [canSearch]="true" (onChange)="onSelectWard($event.value)">
        </ionic-selectable>
      </ion-col>

      <ion-col size="12" class="search-directory ion-text-center" *ngIf="isLoadingWard">
        <ion-spinner class="ion-text-center"></ion-spinner>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="isLoadingEnterprise">
      <ion-col size="12" class="ion-text-center">
        <ion-spinner class="ion-text-center"></ion-spinner>
      </ion-col>
    </ion-row>

    <ion-row class="enterprise-list">
      <ng-container *ngFor="let positionGroup of enterpriseGroupByPosition">
        <ion-col size="12" class="position-group-title" *ngIf="positionGroup.enterprises.length > 0">
          {{positionGroup.position.title.rendered}}
        </ion-col>

        <ion-col class="enterprise-item" size="12" *ngFor="let enterprise of positionGroup.enterprises">
          <p>{{enterprise.post_title}}</p>
          <p>
            <label>Địa chỉ: </label>
            {{enterprise.acf.address}}
          </p>
          <p>
            <label>Điện thoại: </label>
            {{enterprise.acf.enterprise_phone}}
          </p>
          <p>
            <label>Đường dây nóng: </label>
            {{enterprise.acf.enterprise_hotline}}
          </p>
          <p>
            <label>Email: </label>
            {{enterprise.acf.enterprise_email}}
          </p>
          <p>
            <label>Website: </label>
            {{enterprise.acf.address}}
          </p>
        </ion-col>
      </ng-container>
    </ion-row>
  </ion-grid>

  <ion-grid class="redirec-sugges">
    <ion-row>
      <ion-col>
        <a routerLink="/suggestion">
          <img src="assets/image/box-gop-y.png"/>
        </a>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<app-footer></app-footer>
