<app-header></app-header>

<ion-content>
  <h2>“Phát triển sản xuất nông, lâm nghiệp bền vững, phát huy tiềm năng, thế mạnh của các vùng miền để sản xuất hàng hóa theo chuỗi giá trị”</h2>
  <ion-list class="project-search">
    <h3>Tiểu dự án, hoạt động</h3>
    <ion-item>
      <ion-label position="stacked">Chọn tiểu dự án cần tra cứu</ion-label>
      <ion-select placeholder="+ Chọn tiểu dự án">
        <ion-select-option>Tiểu dự án 1</ion-select-option>
        <ion-select-option>Tiểu dự án 2</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Chọn hoạt động cần tra cứu</ion-label>
      <ion-select placeholder="+ Chọn hoạt động">
        <ion-select-option>Hỗ trợ nhà ở</ion-select-option>
        <ion-select-option>Hỗ trợ trồng rừng</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <ion-grid class="project-detail">
    <h3>Tổng quan</h3>
    <ion-row>
      <ion-col size="12">
        <ion-label>Mục tiêu</ion-label>
        <p>Phát triển kinh tế rừng, bảo vệ, phát triển rừng bền vững thích ứng biến đổi khí hậu.</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-label>Đối tượng</ion-label>
        <p>Hộ gia đình đồng bào dân tộc thiểu số, hộ gia đình người Kinh nghèo đang sinh sống ổn định tại các xã khu vực II, III làm nghề rừng hoặc được giao bảo vệ rừng.</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-label>Nội dung</ion-label>
        <p>Trợ cấp gạo cho hộ gia đình tham gia bảo vệ phát triển rừng.</p>
        <p>Hỗ trợ bảo vệ rừng.</p>
        <p>Bảo vệ phát triển rừng:</p>
        <ul>
          <li>+ Hỗ trợ khoán bảo vệ rừng.</li>
          <li>+ Hỗ trợ khoanh nuôi tái sinh có trồng bổ sung.</li>
          <li>+ Hỗ trợ một lần cho trồng rừng sản xuất chu kỳ đầu tiên.</li>
          <li>+ Hỗ trợ trồng rừng phòng hộ.</li>
        </ul>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-label>Phân công thực hiện</ion-label>
        <p>Uỷ ban Dân tộc</p>
        <p>Bộ Nông nghiệp và Phát triển nông thôn</p>
        <p>UBND cấp tỉnh</p>
      </ion-col>
    </ion-row>
    <ion-row class="funds">
      <ion-col size="12">
        <ion-label>Nhu cầu và nguồn vốn</ion-label>
        <img src="assets/image/nhu_cau_von.jpg"/>
      </ion-col>
    </ion-row>
    <ion-row class="submit_button">
      <ion-col>
        <ion-button type="submit" expand="block" class="submit">Xem chi tiết</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid class="project-helpdesk">
    <h3>Hướng dẫn thực hiện</h3>
    <ion-row>
      <ion-col size="12">
        <ion-label>
          Hướng dẫn tham gia
        </ion-label>
        <p>Hướng dẫn đăng ký tham gia thực hiện hoạt động “Hỗ trợ nhà ở, đất ở”.</p>
        <p>Hướng dẫn đăng ký tham gia thực hiện hoạt động “Hỗ trợ nước sinh hoạt”.</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-label>
          Hướng dẫn tổ chức thực hiện
        </ion-label>
        <p>Hướng dẫn quy trình đăng ký nhận hỗ trợ nhà ở, đất ở.</p>
        <p>Các bước quy hoạch, giải phóng mặt bằng khi thực hiện hoạt động “Hỗ trợ đất ở” cho hộ nghèo.</p>
        <p>Hướng dẫn thủ tục bàn giao nhà ở cho hộ nghèo.</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-label>
          Hướng dẫn tồng hợp, báo cáo định kỳ gửi lên các cấp
        </ion-label>
        <p>Ban giám sát xã thôn</p>
        <p>Các cơ quan thực hiện.</p>
        <p>Các cơ quan chủ đầu tư</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list class="project-directory">
    <h3>Tìm liên hệ</h3>
    <span>Quý vị cần thông tin liên hệ ở khu vực nào?</span>
    <ion-list class="search-directory">
      <ion-item>
        <ion-select placeholder="+ Chọn tỉnh thành">
          <ion-select-option>Hà Nội</ion-select-option>
          <ion-select-option>Hà Nam</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-select placeholder="+ Chọn quận huyện">
          <ion-select-option>Ba Đình</ion-select-option>
          <ion-select-option>Đống Đa</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-select placeholder="+ Chọn phường xã">
          <ion-select-option>Phú Diễn</ion-select-option>
          <ion-select-option>Phương Canh</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
    <ion-grid class="enterprise-list">
      <ion-row>
        <ion-col>
          <ion-label>
            Tham gia thực hiện
          </ion-label>
          <ion-grid>
            <ion-row>
              <ion-col size="12"><p class="enterprise_title">TẬP ĐOÀN XÂY DỰNG VÀ KINH DOANH BẤT ĐỘNG SẢN ÁNH DƯƠNG</p></ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12"><p><b>Địa chỉ: </b>193/3/8 Lê Đức Thọ, P. 17, Q. Gò Vấp,Tp. Hồ Chí Minh</p></ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12"><p><b>Điện thoại: </b>0541245666</p></ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12"><p><b>Đường dây nóng : </b>1900xxxx</p></ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12"><p><b>Email: </b>kinhdoanhphulong@gmail.com</p></ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12"><p><b>Website: </b>xaydungphulong.com.vn</p></ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col>
          <ion-label>
            Tổ chức thực hiện
          </ion-label>
          <ion-grid>
            <ion-row>
              <ion-col size="12"><p class="enterprise_title">TẬP ĐOÀN XÂY DỰNG VÀ KINH DOANH BẤT ĐỘNG SẢN ÁNH DƯƠNG</p></ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12"><p><b>Địa chỉ: </b>193/3/8 Lê Đức Thọ, P. 17, Q. Gò Vấp,Tp. Hồ Chí Minh</p></ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12"><p><b>Điện thoại: </b>0541245666</p></ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12"><p><b>Đường dây nóng : </b>1900xxxx</p></ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12"><p><b>Email: </b>kinhdoanhphulong@gmail.com</p></ion-col>
            </ion-row>
            <ion-row>
              <ion-col size="12"><p><b>Website: </b>xaydungphulong.com.vn</p></ion-col>
            </ion-row>
          </ion-grid>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-list>
  <ion-grid class="redirec-sugges">
    <ion-row>
      <ion-col>
        <a routerLink="/suggestion">
          <img src="assets/image/box-gop-y.png"/>
        </a>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<app-footer></app-footer>
