<app-header></app-header>

<ion-content *ngIf="helpdesk">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <h4 class="m-0 ion-text-uppercase">{{helpdesk.post_title}}</h4>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid class="project-detail">
    <ion-row *ngIf="helpHtmlContent">
      <ion-col size="12" [innerHTML]="helpHtmlContent"></ion-col>
    </ion-row>

    <ion-row *ngIf="helpHtmlContent && helpdesk.acf.file_dinh_kem">
      <ion-col size="12">
        <ion-label class="list-icon">Các mẫu biểu</ion-label>
      </ion-col>

      <ion-col size="12" class="download-file">
        <ul class="list-none-style mt-1">
          <li *ngFor="let fileItem of helpdesk.acf.file_dinh_kem">
            <a [href]="fileItem.url" target="_blank">
              {{fileItem.title ? fileItem.title : fileItem.filename}} &nbsp;
              <ion-icon name="cloud-download-outline"></ion-icon>
            </a>
          </li>
        </ul>
      </ion-col>
    </ion-row>

    <ion-row *ngIf="isLoadHelpHtmlContent">
      <ion-col size="12" class="ion-text-center">
        <ion-spinner class="ion-text-center"></ion-spinner>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<app-footer></app-footer>
