ion-content {
  h4 {
    margin: 0 5px !important;
  }
  ul li::marker {
    color: #39b54a !important;
  }

  .project-detail {
    background: #ffffff;
    width: calc(100% - 30px);
    border: 1px solid #d6d6d6;
    border-radius: 3px;
    padding: 20px 15px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
  }

  .elementor-11205 .elementor-element .elementor-widget-wrap {
    padding: 0 !important;
  }

  .elementor-icon-list-item {
    &:before {
      content: url('../../../assets/icon/icon-list-decoration.png');
      padding-right: 5px;
    }

    span.elementor-icon-list-icon {
      display: none;
    }
  }

  .elementor-widget-container {
    ul {
      margin-top: 0.5em;
    }
  }

  ion-label {
    font-weight: 500;
    font-size: 20px;
    color: #514c4c;

    &.list-icon {
      &:before {
        content: url('../../../assets/icon/icon-list-decoration.png');
        padding-right: 10px;
      }
    }
  }

  .download-file {
    a {
      color: #ec8934;
      text-decoration: none;
      display: flex;
      width: 100%;

      ion-icon {
        font-size: 20px;
        margin-left: auto;
      }
    }
  }
}
