<app-header></app-header>

<ion-content>
  <ion-list>
    <h2>TRA CỨU DANH BẠ</h2>
    <ion-item>
      <ion-label position="stacked">Từ khóa tìm kiếm</ion-label>
      <ion-input [(ngModel)]="search_tittle" name="search_tittle"></ion-input>
    </ion-item>
    <ion-label>Nơi thực hiện</ion-label>
    <ion-item>
      <ionic-selectable item-content placeholder="+ Chọn tỉnh thành" [canClear]="true" clearButtonText="Xóa lựa chọn"
                        [(items)]="provines" itemTextField="post_title" closeButtonText="Đóng" closeButtonSlot="end"
                        [canSearch]="true" (onChange)="onSelectProvince($event.value)" [(ngModel)]="selecteProvince">
      </ionic-selectable>
    </ion-item>
    <ion-item *ngIf="isLoadingDistrict">
      <ion-spinner class="ion-text-center"></ion-spinner>
    </ion-item>
    <ion-item *ngIf="districts.length > 0">
      <ionic-selectable item-content placeholder="+ Chọn quận huyện" [canClear]="true" clearButtonText="Xóa lựa chọn"
                        [(items)]="districts" itemTextField="post_title" closeButtonText="Đóng" closeButtonSlot="end"
                        [canSearch]="true" (onChange)="onSelectDistrict($event.value)" [(ngModel)]="selectedDistrict">
      </ionic-selectable>
    </ion-item>
    <ion-item *ngIf="isLoadingWard">
      <ion-spinner class="ion-text-center"></ion-spinner>
    </ion-item>
    <ion-item *ngIf="wards.length > 0">
      <ionic-selectable item-content placeholder="+ Chọn xã phường" [canClear]="true" clearButtonText="Xóa lựa chọn"
                        [(items)]="wards" itemTextField="post_title" closeButtonText="Đóng" closeButtonSlot="end"
                        [canSearch]="true" (onChange)="onSelectWard($event.value)" [(ngModel)]="selectedWard">
      </ionic-selectable>
    </ion-item>
    <p class="sugges">Tôi cần thông tin liên hệ của?</p>
    <ion-item class="radio_subject">
      <ion-radio-group [(ngModel)]="selectedSubject" *ngIf="!isLoadingSubject">
        <ion-item *ngFor="let item of subjectList">
          <ion-radio mode="md" color="primary" slot="start" [value]="item.id"></ion-radio>
          <span>{{item.title.rendered}}</span>
        </ion-item>
      </ion-radio-group>
      <ion-spinner *ngIf="isLoadingSubject"></ion-spinner>
    </ion-item>
    <ion-label position="stacked">Thuộc dự án</ion-label>
    <ion-item>
      <ionic-selectable [(items)]="projectList" item-content placeholder="+ Chọn dự án" [canClear]="true" clearButtonText="Xóa lựa chọn"
                        itemTextField="post_title"
                        [canSearch]="true" closeButtonText="Đóng" closeButtonSlot="end"
                        (onChange)="onSelectPorject($event.value)">
        <!--        <ion-select-option *ngFor="let project of projectList" [value]="project.id">{{project.title.rendered}}</ion-select-option>-->
      </ionic-selectable>
    </ion-item>
    <ion-label position="stacked">Thuộc tiểu dự án</ion-label>
    <ion-item>
      <ionic-selectable [(items)]="subProjectList"
                        itemTextField="post_title"
                        [canSearch]="true" closeButtonText="Đóng" closeButtonSlot="end"
                        (onChange)="onSelectSubProject($event.value)" placeholder="+ Chọn tiểu dự án">
        <!--        <ion-select-option *ngFor="let subProject of subProjectList" [value]="subProject.id">{{subProject.title.rendered}}</ion-select-option>-->
      </ionic-selectable>
    </ion-item>
    <ion-label position="stacked">Nội dung của hoạt động là</ion-label>
    <ion-item>
      <ionic-selectable placeholder="+ Chọn hoạt động" [canClear]="true" clearButtonText="Xóa lựa chọn"
                        [(items)]="actionList" itemTextField="post_title" closeButtonText="Đóng" closeButtonSlot="end"
                        [canSearch]="true" (onChange)="onSelectProjectAction($event.value)">
      </ionic-selectable>
    </ion-item>
    <ion-label position="stacked">Vai trò?</ion-label>
    <ion-item>
      <ionic-selectable [(ngModel)]="selectedPosition" [canClear]="true" clearButtonText="Xóa lựa chọn"
                        [(items)]="positionList"
                        itemTextField="post_title" closeButtonText="Đóng" closeButtonSlot="end"
                        [canSearch]="true" placeholder="+ Chọn vai trò">
        <!--        <ion-select-option *ngFor="let position of positionList" [value]="position.id">{{position.title.rendered}}</ion-select-option>-->
      </ionic-selectable>
    </ion-item>
    <ion-button type="submit" expand="block" class="submit" (click)="getListEnterprise()">TRA CỨU THÔNG TIN LIÊN HỆ
    </ion-button>
  </ion-list>
  <div class="result_search">
    <ion-list>
      <h2>Kết quả tìm kiếm<span>{{enterpriseList ? enterpriseList.length : '0'}} thông tin</span></h2>
      <ion-item *ngFor="let item of enterpriseList">
        <ion-grid>
          <ion-row>
            <ion-col size="12">
              <ion-img src="{{item.logo}}"></ion-img>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="12">
              <p class="directory_title">{{item.post_title}}</p>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="3">
              <p>Địa chỉ</p>
            </ion-col>
            <ion-col size="9">
              <span>{{item.acf.address}}</span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="3">
              <p>Điện thoại</p>
            </ion-col>
            <ion-col size="9">
              <span>: {{item.acf.enterprise_phone}}</span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="3">
              <p>Đường dây nóng</p>
            </ion-col>
            <ion-col size="9">
              <span>: {{item.acf.enterprise_hotline}}</span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="3">
              <p>Email</p>
            </ion-col>
            <ion-col size="9">
              <span>: {{item.acf.enterprise_email}}</span>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="3">
              <p>Website</p>
            </ion-col>
            <ion-col size="9">
              <span>: {{item.acf.enterprise_website}}</span>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-item>
    </ion-list>
  </div>
</ion-content>

<app-footer></app-footer>
