ion-content {
  background: #B34804;
  --background: #B34804;

  ion-toolbar {
    background: transparent;
    --background: transparent;
    border: none;
    --border: none;

    ion-icon {
      font-size: 2.5em;
      color: #ffffff;
    }
  }

  ion-row {
    border-bottom: 1px solid #E57718;
    ion-col {
      color: #ffffff;
      font-size: 1em;
    }
  }
}
