<ion-content>
  <ion-toolbar class="ion-no-border">
    <ion-icon slot="end" name="close" class="pr-2" (click)="closeMenu()"></ion-icon>
  </ion-toolbar>

  <ion-grid>
    <ion-row class="pt-2 pb-2" routerLink="/home">
      <ion-col size="1">
        <ion-icon name="home"></ion-icon>
      </ion-col>
      <ion-col size="11" class="pl-1">Trang chủ</ion-col>
    </ion-row>
    <ion-row class="pt-2 pb-2" routerLink="/search">
      <ion-col size="1">
        <ion-icon name="document"></ion-icon>
      </ion-col>
      <ion-col size="11" class="pl-1">Hướng dẫn thực hiện chương trình</ion-col>
    </ion-row>
    <ion-row class="pt-2 pb-2" routerLink="/faq">
      <ion-col size="1">
        <ion-icon name="document"></ion-icon>
      </ion-col>
      <ion-col size="11" class="pl-1">Câu hỏi thường gặp</ion-col>
    </ion-row>
    <ion-row class="pt-2 pb-2" routerLink="/suggestion">
      <ion-col size="1">
        <ion-icon name="chatbubbles"></ion-icon>
      </ion-col>
      <ion-col size="11" class="pl-1">Góp ý - Phản ánh - Đánh giá</ion-col>
    </ion-row>
    <ion-row class="pt-2 pb-2" routerLink="/directory">
      <ion-col size="1">
        <ion-icon name="people"></ion-icon>
      </ion-col>
      <ion-col size="11" class="pl-1">Tra cứu danh bạ</ion-col>
    </ion-row>
    <ion-row *ngIf="false" class="pt-2 pb-2" routerLink="/login">
      <ion-col size="1">
        <ion-icon name="people"></ion-icon>
      </ion-col>
      <ion-col size="11" class="pl-1">Đăng nhập</ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
