<app-header></app-header>

<ion-content>
  <ion-card class="card-item">
    <ion-card-header>
      <ion-card-title class="card-title" style="text-align: center;">TÌM KIẾM HƯỚNG DẪN</ion-card-title>
      <hr>
    </ion-card-header>

    <ion-card-content>
      <ion-row>
        <ion-label class="item-label">
          Quý vị là ai?
        </ion-label>
        <ion-col size="12" *ngIf="isLoadingSubject" class="ion-text-center">
          <ion-spinner></ion-spinner>
        </ion-col>
        <ion-list>
          <ion-item *ngFor="let item of subjectList" mode="md" class="pb-2">
            <ion-checkbox slot="start" [value]="item.id" mode="md"
                          (ionChange)="$event.target.checked ? selectedSubject.push(+item.id) : selectedSubject.splice(selectedSubject.indexOf(+item.id), 1)"></ion-checkbox>
            <ion-text>{{item.title.rendered}}</ion-text>
          </ion-item>
        </ion-list>
      </ion-row>

      <ion-row>
        <ion-label class="item-label">
          Quý vị quan tâm đến chương trình / dự án ở khu vực nào?
        </ion-label>
        <ion-col size="12" class="mt-2">
          <ionic-selectable [(ngModel)]="selectedProvince" item-content placeholder="+ Chọn tỉnh thành" [canClear]="true" clearButtonText="Xóa lựa chọn"
                            [(items)]="provinces" itemTextField="post_title" closeButtonText="Đóng" closeButtonSlot="end"
                            [canSearch]="true" (onChange)="onSelectProvince($event.value)">
          </ionic-selectable>
        </ion-col>

        <ion-col size="12" class="mt-2 ion-text-center" *ngIf="isLoadingDistrict">
          <ion-spinner class="ion-text-center"></ion-spinner>
        </ion-col>

        <ion-col size="12" class="mt-2" *ngIf="districts.length > 0">
          <ionic-selectable [(ngModel)]="selectedDistrict" item-content placeholder="+ Chọn quận huyện" [canClear]="true" clearButtonText="Xóa lựa chọn"
                            [(items)]="districts" itemTextField="post_title" closeButtonText="Đóng" closeButtonSlot="end"
                            [canSearch]="true" (onChange)="onSelectDistrict($event.value)">
          </ionic-selectable>
        </ion-col>

        <ion-col size="12" class="mt-2 ion-text-center" *ngIf="isLoadingWard">
          <ion-spinner class="ion-text-center"></ion-spinner>
        </ion-col>

        <ion-col size="12" class="mt-2" *ngIf="wards.length > 0">
          <ionic-selectable [(ngModel)]="selectedWard" item-content placeholder="+ Chọn xã phường" [canClear]="true" clearButtonText="Xóa lựa chọn"
                            [(items)]="wards" itemTextField="post_title" closeButtonText="Đóng" closeButtonSlot="end"
                            [canSearch]="true">
          </ionic-selectable>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-label class="item-label">Quý vị quan tâm đến hoạt động nào?</ion-label>
        <ion-col size="12" class="mt-2">
          <ionic-selectable [(ngModel)]="selectedProjectAction" placeholder="+ Chọn hoạt động" [canClear]="true" clearButtonText="Xóa lựa chọn"
            [items]="projectActions" itemTextField="post_title" closeButtonText="Đóng" closeButtonSlot="end"
            [canSearch]="true"
            >
          </ionic-selectable>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-label class="item-label">
          Vấn đề Quý vị quan tâm là?
        </ion-label>
        <ion-col size="12" *ngIf="isLoadingHelpDeskCategories" class="ion-text-center">
          <ion-spinner></ion-spinner>
        </ion-col>
        <ion-list>
          <ion-item *ngFor="let item of helpDeskCategories" mode="md">
            <ion-checkbox slot="start" [value]="item.id" mode="md"
                          (ionChange)="$event.target.checked ? selectedHelpDeskCategory.push(+item.id) : selectedHelpDeskCategory.splice(selectedHelpDeskCategory.indexOf(+item.id), 1)"></ion-checkbox>
            <ion-text>{{item.name}}</ion-text>
          </ion-item>
        </ion-list>
      </ion-row>

      <ion-row>
        <ion-button (click)="doSearchByAction()" type="submit" expand="block" class="submit">
            TÌM KIẾM
        </ion-button>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>

<app-footer></app-footer>
