ion-content {
  ion-label.item-label {
    font-weight: bold;
    font-size: initial;
    color: #333;
  }

  ion-item {
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: justify;
    --min-height: 0;
    ion-checkbox {
      margin-inline-end: 15px;
    }
  }

  div.result-item {
    color: #ec8934;
    position: relative;
    padding-left: 25px;
    --padding-start:0;
    --inner-border-width:0;
    margin-bottom: 15px;
    text-align: justify;
    font-size: inherit;
    &::before {
      position: absolute;
      display: block;
      top:2px;
      content:'';
      left: 0;
      width: 16px;
      height: 14px;
      background-image: url("/assets/icon/icon-list-decoration.png");
    }
  }

  ion-card {
    margin: 0 15px 30px;
    border: 1px solid #b9b7ac;
    ion-card-header {
      padding-bottom: 8px;
      text-align: center;
      ion-card-title {
        color: #8C0A00;
        text-transform: uppercase;
        font-size: 21px;
        font-weight: 500;
      }

      hr {
        background: #8C0A00;
        margin-top: 2px;
        height: 2px;
      }
    }
    ion-row {
      margin-bottom:15px;
    }
    .project-list{
      ion-item {
        margin-bottom:15px;
        text-align: center;
        color: #ffffff;
        div {
          padding:12px;
          width:100%;
        }
      }
      .project-item-title {
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 600;
      }
    }

    .submit {
      width: 100%;
      --border-radius: 30px;
      color: #ffffff;
      --background: linear-gradient(#ec8934, #b34804);
      margin: 15px 0 0;
      font-size: 13px;
    }

    ion-radio {
      margin: 0px 9px 3px 5px;
    }
    ion-router-link {
      img {
        width: 100%;
        height: auto;
      }
    }
    ionic-selectable {
      max-width: 100%;

    }
  }
}
