/* Common styles*/
body {
  font-size: 14px;
  font-family: Arial, Roboto, sans-serif;
}

@media screen and (min-width: 360px) {
  body {
    font-size: 0.95em;
  }

  .searchbar-input {
    font-size: 1em !important;
  }
}

ion-content {
  background: #FFF1E5;
  --background: #FFF1E5;
}
