/* Common styles*/
body {
  font-size: 15px;
  font-family: Arial, Roboto, sans-serif;
  --color: #514c4c;
}

@media screen and (min-width: 360px) {
  body {
    font-size: 0.95em;
  }

  .searchbar-input {
    font-size: 1em !important;
  }
}

ion-content {
  background: #FFF1E5;
  --background: #FFF1E5;
}

ion-card {
  margin: 0 15px 20px;
  border: 1px solid #b9b7ac;
  box-shadow: none;
}

ion-card-header,
ion-card-content {
  padding-inline-start: 15px !important;
  padding-inline-end: 15px !important;
}

ion-card-content ion-item {
  --border-width: 0;
  --padding-start: 0;
  --inner-padding-end: 0;
  --border-color: transparent;
}
