ion-searchbar .searchbar-input-container .searchbar-input {
  line-height: unset;
  padding-inline-start: 35px !important;
  padding-inline-end: 5px;
  padding-top: 7px;
  padding-bottom: 7px;
}

ion-searchbar .searchbar-input-container .searchbar-search-icon {
  top: 7px;
  left: 7px;
}

.ion-select,
.ionic-selectable {
  border: 1px solid #efefef;
  --border: 1px solid #efefef;
  border-radius: 2px;
  --border-radius: 2px;
}

.ionic-selectable-value {
  padding-left: 13px;
}
