ion-content {
  ion-grid {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #fff;
    width: calc(100% - 30px);
    left: 50%;
    padding: 30px 15px;
    border:1px solid #d6d6d6;
    border-radius: 3px;
  }
  ion-label {
    font-weight: 600;
    display: block;
    margin-bottom: 10px;
  }
  ion-input {
    --padding-start: 10px;
  }
  ion-button {
    color: #ffffff;
    --background: linear-gradient(#ec8934, #b34804);
    display: block;
    text-transform: uppercase;
  }
}
