ion-content {
  img {
    width: 40%;
    margin: auto;
    display: block;
  }
  ion-grid {
    padding: 30px 15px;
  }
  ion-label {
    font-weight: 600;
    display: block;
    margin-bottom: 10px;
  }
  ion-input {
    --padding-start: 10px;
    background: #ffffff;
  }
  ion-button {
    color: #ffffff;
    --background: linear-gradient(#ec8934, #b34804);
    display: block;
    text-transform: uppercase;
  }
}
