<app-header></app-header>

<ion-content [scrollEvents]="true" (ionScroll)="scrollContent($event)" id="onScrollContent">
  <div class="sticky-card-title" *ngIf="toolbarText">
    {{toolbarText}}
    <hr>
  </div>

  <ion-card class="card-item">
    <ion-card-header>
      <ion-card-title class="card-title">HƯỚNG DẪN THEO HOẠT ĐỘNG</ion-card-title>
      <hr>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-radio-group>
          <ion-list-header>
            <ion-label>
              Quý vị là ai?
            </ion-label>
          </ion-list-header>

          <ion-item *ngFor="let item of subjectList">
            <ion-radio [value]="item.id"></ion-radio>
            <ion-label>{{item.title.rendered}}</ion-label>
          </ion-item>

        </ion-radio-group>
      </ion-list>

      <ion-label>
        Quý vị quan tâm đến chương trình / dự án ở khu vực nào?
      </ion-label>
      <ion-select [(ngModel)]="selectedProvince" (ionChange)="onSelectProvince()" placeholder="+ Chọn tỉnh/thành">
        <ion-select-option *ngFor="let province of provinces" [value]="province.id">
          {{province.title.rendered}}
        </ion-select-option>
      </ion-select>

      <ion-select [(ngModel)]="selectedDistrict" (ionChange)="onSelectDistrict()" placeholder="+ Chọn quận/huyện">
        <ion-select-option *ngFor="let district of districts" [value]="district.id">
          {{district.title.rendered}}
        </ion-select-option>
      </ion-select>

      <ion-select [(ngModel)]="selectedWard" placeholder="+ Chọn phường/xã">
        <ion-select-option *ngFor="let ward of wards" [value]="ward.id">
          {{ward.title.rendered}}
        </ion-select-option>
      </ion-select>

      <ion-item>
        <ion-label>Quý vị quan tâm đến hoạt động nào?</ion-label>
        <ionic-selectable [(ngModel)]="selectedProjectAction"
          [items]="projectActions"
          itemValueField="id"
          itemTextField="rendered"
          [canSearch]="true"
          (onChange)="projectActionChange($event)">
        </ionic-selectable>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card class="card-item">
    <ion-card-header>
      <ion-card-title class="card-title">Card Title2</ion-card-title>
      <hr>
    </ion-card-header>

    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-card class="card-item">
    <ion-card-header>
      <ion-card-title class="card-title">Card Title3</ion-card-title>
      <hr>
    </ion-card-header>

    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-card class="card-item">
    <ion-card-header>
      <ion-card-title class="card-title">Card Title4</ion-card-title>
      <hr>
    </ion-card-header>

    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-card class="card-item">
    <ion-card-header>
      <ion-card-title class="card-title">Card Title5</ion-card-title>
      <hr>
    </ion-card-header>

    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile,
      and climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>
</ion-content>

<app-footer></app-footer>
