<app-header></app-header>

<ion-content>
  <ion-list>
    <h2>GÓP Ý - ĐÁNH GIÁ - PHẢN ÁNH</h2>
    <ion-label class="tilte">1. Thông tin cá nhân</ion-label>
    <ion-item>
      <ion-label position="stacked">Họ và tên</ion-label>
      <ion-input type="text" [(ngModel)]="suggestionParam.acf.name"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Địa chỉ</ion-label>
      <ion-input type="text" [(ngModel)]="suggestionParam.acf.address"></ion-input>
    </ion-item>
    <ion-item>
      <ion-select [(ngModel)]="selectedProvince" (ionChange)="onSelectProvince()" placeholder="+ Chọn tỉnh thành">
        <ion-select-option *ngFor="let province of provinces" [value]="province.id">{{province.title.rendered}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-select [(ngModel)]="selectedDistrict" (ionChange)="onSelectDistrict()" placeholder="+ Chọn quận huyện">
        <ion-select-option *ngFor="let district of districts" [value]="district.ID">{{district.post_title}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-select [(ngModel)]="selectedWard" placeholder="+ Chọn phường xã">
        <ion-select-option *ngFor="let ward of wards" [value]="ward.id">{{ward.post_title}}</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-label class="tilte">2. Nội dung Góp ý - Đánh giá - Phản ánh</ion-label>
    <p class="sugges">Góp ý, đánh giá, phản ánh với vai trò</p>
    <ion-radio-group>
      <ion-item *ngFor="let item of subjectList">
        <ion-radio mode="md" color="primary" slot="start" [value]="item.id"></ion-radio>
        <p>{{item.title.rendered}}</p>
      </ion-item>
    </ion-radio-group>

    <ion-item>
      <ion-label position="stacked">Nơi làm việc</ion-label>
      <ion-input></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Về việc</ion-label>
        <ionic-selectable [(ngModel)]="selectedProjectAction"
                          [items]="projectActions"
                          itemValueField="id"
                          itemTextField="post_title"
                          [canSearch]="true"
                          (onChange)="projectActionChange($event)">
        </ionic-selectable>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Nội dung góp ý, đánh giá, phản ánh</ion-label>
      <ion-textarea placeholder="Nhập nội dung góp ý, đánh giá, phản ánh cụ thể" rows="6"></ion-textarea>
    </ion-item>
    <ion-button (click)="onSubmitSuggestion()" type="submit" expand="block" class="submit">GỬI THÔNG TIN GÓP Ý - ĐÁNH GIA - PHẢN ÁNH</ion-button>
  </ion-list>
</ion-content>
<app-footer></app-footer>
